@import "tailwindcss";

@theme {
  --font-family-spartan: "League Spartan Variable", sans-serif;

  /* Heading XL */
  --font-size-heading-xl: clamp(3rem, 5vw + 2rem, 5rem);
  --line-height-heading-xl: clamp(4rem, 8vw, 6rem);
  --letter-spacing-heading-xl: clamp(-0.025em, -0.5vw - 0.01em, -0.0625em);
  --font-weight-heading-xl: 300;

  /* Heading L */
  --font-size-heading-l: clamp(2rem, 3vw + 1rem, 3rem);
  --line-height-heading-l: clamp(2.25rem, 3.5vw + 1rem, 3.5rem);
  --letter-spacing-heading-l: clamp(-0.02em, -0.3vw, -0.03125em);
  --font-weight-heading-l: 700;

  /* Heading M */
  --font-size-heading-m: clamp(1.125rem, 1.5vw + 0.5rem, 1.25rem);
  --line-height-heading-m: 1.5rem;
  --letter-spacing-heading-m: -0.015625em;
  --font-weight-heading-m: 700;

  /* Heading S */
  --font-size-heading-s: clamp(0.9375rem, 1vw + 0.5rem, 1.0625rem);
  --line-height-heading-s: 1.75rem;
  --letter-spacing-heading-s: 0.15625em;
  --font-weight-heading-s: 600;

  /* Body */
  --font-size-body: clamp(1rem, 1.5vw + 0.5rem, 1.5rem);
  --line-height-body: clamp(1.625rem, 2vw + 1rem, 2.25rem);
  --font-weight-body: 400;

  /* Button */
  --font-size-button: clamp(0.9375rem, 0.5vw + 0.8rem, 1.125rem);
  --line-height-button: 1rem;
  --letter-spacing-button: 0.15625em;
  --font-weight-button: 600;

  /* Primary Colors */
  --color-beaver: oklch(61.94% 0.0526 60.49); /* #9e7f66 */
  --color-cod-gray: oklch(17.76% 0 89.88); /* #111111 */

  /* Secondary Colors */
  --color-mirage: oklch(22.09% 0.0353 278.24); /* #17192b */
  --color-ebony-clay: oklch(28.77% 0.0242 261.14); /* #242b37 */
  --color-shuttle-gray: oklch(51.11% 0.0317 260.26); /* #5c6779 */
}

@utility heading-xl {
  font-family: var(--font-family-spartan);
  font-size: var(--font-size-heading-xl);
  line-height: var(--line-height-heading-xl);
  letter-spacing: var(--letter-spacing-heading-xl);
  font-weight: var(--font-weight-heading-xl);
}

@utility heading-l {
  font-family: var(--font-family-spartan);
  font-size: var(--font-size-heading-l);
  line-height: var(--line-height-heading-l);
  letter-spacing: var(--letter-spacing-heading-l);
  font-weight: var(--font-weight-heading-l);
}

@utility heading-m {
  font-family: var(--font-family-spartan);
  font-size: var(--font-size-heading-m);
  line-height: var(--line-height-heading-m);
  letter-spacing: var(--letter-spacing-heading-m);
  font-weight: var(--font-weight-heading-m);
}

@utility heading-s {
  font-family: var(--font-family-spartan);
  font-size: var(--font-size-heading-s);
  line-height: var(--line-height-heading-s);
  letter-spacing: var(--letter-spacing-heading-s);
  font-weight: var(--font-weight-heading-s);
  text-transform: uppercase;
}

@utility body-text {
  font-family: var(--font-family-spartan);
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-body);
}

@utility button-text {
  font-family: var(--font-family-spartan);
  font-size: var(--font-size-button);
  line-height: var(--line-height-button);
  letter-spacing: var(--letter-spacing-button);
  font-weight: var(--font-weight-button);
  text-transform: uppercase;
}
